.app.mechanical {
    --theme-color: #B78A54;
    --theme-color-2: #E4E0D5;

    font-family: "IBM Plex Mono", monospace;

    background: linear-gradient(to bottom,

            #101215 0%,
            #101215 64%,
            #101215 100%);
    color: #E4E0D5;

    --panel-bg:
        linear-gradient(180deg,
            #2D3136 0%,
            #202428 25%,
            #171A1D 50%,
            #202428 75%,
            #2D3136 100%);

    --navbar-bg: #101215;
    --navbar-border: #9CA8AA;


    --status-light-size: 14px;
    --status-light-radius: 50%;
    --status-light-bg: #38ff5c;
    --status-light-border: 1px solid #8cff9d;

    --status-light-shadow:
        0 0 6px rgba(56, 255, 92, .8),
        0 0 12px rgba(56, 255, 92, .6),
        0 0 24px rgba(56, 255, 92, .35);

    --status-light-animation: pulse 2.5s ease-in-out infinite;
    --profile-img-animation: autoReveal 3s ease-in-out infinite;

    --profile-border: url("/img/mechanicalTheme/mechanical-border.png");

    --profile-pic-width: 250px;
    --profile-pic-height: 300px;
    --about-role: #9CA8AA;
    --about-description: #B7BFC0;

    --button-text: #101215;
    --button-bg: linear-gradient(90deg,
            #7B5B34 0%,
            #B78A54 50%,
            #E1C08A 100%);
    --button-hover: linear-gradient(135deg,
            #f2f4f5 0%,
            #c8ced3 20%,
            #9ea6ad 50%,
            #d9dde0 80%,
            #f7f8f9 100%);
    --button-border: #D6B27A;

    --about-profile-radius: 20px;
    --about-social-filter: grayscale(100%) brightness(.9);

    /* PROJECT CARD */
    --carousel-shadow-gradient: linear-gradient(90deg,
            transparent,
            rgba(183, 138, 84, 0.15),
            rgba(183, 138, 84, 0.55),
            rgba(183, 138, 84, 0.15),
            transparent);
    --carousel-dot-bg: #5A6468;

    --carousel-arrow-bg: #2B3034;
    --carousel-arrow-border: #5A6468;



    --carousel-arrow-hover-border: #D6B27A;
    --carousel-arrow-hover-color: #101215;

    --projects-toggle-bg: #2B3034;
    --projects-toggle-border: #5A6468;

    --projects-toggle-hover-border: #D6B27A;
    --projects-toggle-hover-text: #101215;

    --project-card-bg: linear-gradient(180deg,
            #2A2E33 0%,
            #1C1F23 25%,
            #121417 50%,
            #1C1F23 75%,
            #2A2E33 100%);

    --project-card-border: #5A6468;


    --project-card-radius: 4px;

    --project-card-shadow: inset 0 1px 0 rgba(255, 255, 255, .08),
        inset 0 -1px 0 rgba(0, 0, 0, .55),
        0 10px 25px rgba(0, 0, 0, .35);

    --project-card-hover-shadow: inset 0 1px 0 rgba(255, 255, 255, .12),
        0 18px 40px rgba(0, 0, 0, .45),
        0 0 0 1px rgba(183, 138, 84, .25);


    --project-text-color: #B7BFC0;

    --project-image-bg: #15181B;
    --project-image-border: #5A6468;
    --project-image-radius: 3px;

    --project-image-filter: grayscale(20%) contrast(1.05);
    --project-image-filter-hover: grayscale(0%) contrast(1.1);

    --project-badge-bg: linear-gradient(180deg,
            #D2AE74,
            #B78A54);
    --project-badge-text: #101215;
    --project-badge-border: #D8C095;
    --project-badge-radius: 2px;
    --project-badge-shadow: 0 2px 8px rgba(0, 0, 0, .35);
    --tools-description: #AEB5B8;
    --tool-card-bg: linear-gradient(180deg,
            #2A2E33,
            #1C1F23 30%,
            #121417 70%,
            #2A2E33);

    --tool-card-border: #5A6468;
    --tool-card-radius: 4px;
    --tool-card-shadow: inset 0 1px 0 rgba(255, 255, 255, .08),
        inset 0 -1px 0 rgba(0, 0, 0, .55),
        0 10px 20px rgba(0, 0, 0, .35);

    --tool-card-hover-shadow: inset 0 1px 0 rgba(255, 255, 255, .12),
        0 16px 32px rgba(0, 0, 0, .45);



    --tool-card-text: #D9D6CE;

    --tool-icon-filter: grayscale(.2) contrast(1.05);

    --tool-icon-filter-hover: grayscale(0) contrast(1.15) brightness(1.08);

    --tool-icon-bg: linear-gradient(180deg,
            #767e86,
            #1A1D20);

    --tool-icon-hover-bg: linear-gradient(180deg,
            #6c757c,
            #22262A);

    --tool-icon-border: #5A6468;

    --tools-container-border: #5A6468;

    --tools-container-radius: 6px;

    --tools-container-shadow: inset 0 1px 0 rgba(255, 255, 255, .08),
        inset 0 -1px 0 rgba(0, 0, 0, .45),
        0 20px 40px rgba(0, 0, 0, .35);

    --contact-description: #B7BFC0;

    --contact-panel-border: #5A6468;

    --contact-map-border: #5A6468;

    --contact-input-bg: #1C1E22;
    --contact-input-border: #5A6468;
    --contact-input-placeholder: #7E888A;


    --footer-border: #5A6468;
    --footer-brand-hover: #D3A46A;
    --footer-text: #B7BFC0;
    --footer-divider: #444C50;
    --footer-link: #E4E0D5;
    --footer-email: #E4E0D5;

    --footer-social-filter: grayscale(100%) brightness(.95);
    --footer-social-filter-hover: grayscale(0%) brightness(1.1);

    --footer-icon-border: #5A6468;

    --back-to-top-bg: #2B3034;

    --back-to-top-border: 1px solid #5A6468;

    --back-to-top-radius: 50px;

    --back-to-top-size: 50px;

    --back-to-top-right: 25px;
    --back-to-top-bottom: 50px;

    --back-to-top-font-size: 25px;

    --back-to-top-arrow-color: #B78A54;
    --back-to-top-arrow-inner-color: #2B3034;

    --back-to-top-arrow-radius: 20px;

    --back-to-top-shadow:
        0 2px 10px rgba(0, 0, 0, .35),
        0 0 15px rgba(183, 138, 84, .25);

    --back-to-top-active-shadow:
        0 4px 15px rgba(0, 0, 0, .45);

    --back-to-top-transition:
        all .3s ease-in-out;

}

.app.cute {
    --theme-color: #FF7FB2;
    --theme-color-2: #FFF8FC;

    font-family: "Quicksand", sans-serif;

    background: linear-gradient(to bottom,
            #FFF7FB 0%,
            #FFF0F8 60%,
            #FFE9F5 100%);

    color: #5C5166;

    --panel-bg:
        linear-gradient(180deg,
            #FFFFFF 0%,
            #FFF5FB 40%,
            #FFEAF6 100%);

    --navbar-bg: rgba(255, 255, 255, 0.9);
    --navbar-border: #FFD3E6;

    --status-light-size: 14px;
    --status-light-radius: 50%;

    --status-light-bg: #FF8FB8;
    --status-light-border: 1px solid #FFD2E4;

    --status-light-shadow:
        0 0 6px rgba(255, 143, 184, .8),
        0 0 12px rgba(255, 143, 184, .6),
        0 0 24px rgba(255, 143, 184, .35);

    --status-light-animation: pulse 2.5s ease-in-out infinite;
    --profile-img-animation: cuteReveal 3s ease-in-out infinite;

    --profile-border: url("/img/cuteTheme/cute-border-shark.png");

    --profile-img-zindex: 3;
    --profile-pic-width: 100px;
    --profile-pic-height: 300px;
    --about-role: #C57BA4;
    --about-description: #766878;

    --button-text: white;

    --button-bg:
        linear-gradient(90deg,
            #FF9CC6,
            #FF7FB2,
            #FF5F9F);

    --button-hover:
        linear-gradient(90deg,
            #FFB6D5,
            #FF90BE,
            #FF74AE);

    --button-border: #FFC9DE;

    --about-profile-radius: 100px;

    --about-social-filter: none;

    /* PROJECT */

    --carousel-shadow-gradient:
        linear-gradient(90deg,
            transparent,
            rgba(255, 127, 178, .15),
            rgba(255, 127, 178, .45),
            rgba(255, 127, 178, .15),
            transparent);

    --carousel-dot-bg: #F6B4D0;

    --carousel-arrow-bg: #FFFFFF;
    --carousel-arrow-border: #FFD3E6;

    --carousel-arrow-hover-border: #FF7FB2;
    --carousel-arrow-hover-color: white;

    --projects-toggle-bg: white;
    --projects-toggle-border: #FFD3E6;

    --projects-toggle-hover-border: #FF7FB2;
    --projects-toggle-hover-text: white;

    --project-card-bg:
        linear-gradient(180deg,
            #FFFFFF,
            #FFF7FB,
            #FFEFF8);

    --project-card-border: #FFD3E6;

    --project-card-radius: 18px;

    --project-card-shadow:
        0 12px 30px rgba(255, 127, 178, .15);

    --project-card-hover-shadow:
        0 18px 40px rgba(255, 127, 178, .25);

    --project-text-color: #665C69;

    --project-image-bg: #FFF5FA;
    --project-image-border: #FFD3E6;
    --project-image-radius: 14px;

    --project-image-filter: none;
    --project-image-filter-hover: none;

    --project-badge-bg:
        linear-gradient(180deg,
            #FFC5DE,
            #FF8FB8);

    --project-badge-text: white;

    --project-badge-border: #FFD6E7;

    --project-badge-radius: 999px;

    --project-badge-shadow:
        0 5px 15px rgba(255, 127, 178, .25);

    /* TOOLS */

    --tools-description: #766878;

    --tool-card-bg:
        linear-gradient(180deg,
            #FFFFFF,
            #FFF7FB);

    --tool-card-border: #FFD3E6;

    --tool-card-radius: 18px;

    --tool-card-shadow:
        0 10px 24px rgba(255, 127, 178, .12);

    --tool-card-hover-shadow:
        0 18px 34px rgba(255, 127, 178, .20);

    --tool-card-text: #665C69;

    --tool-icon-filter: none;

    --tool-icon-filter-hover: none;

    --tool-icon-bg:
        linear-gradient(180deg,
            #FFE2F0,
            #FFD2E7);

    --tool-icon-hover-bg:
        linear-gradient(180deg,
            #FFD2E7,
            #FFC2DD);

    --tool-icon-border: #FFD3E6;

    --tools-container-border: #FFD3E6;

    --tools-container-radius: 20px;

    --tools-container-shadow:
        0 15px 40px rgba(255, 127, 178, .12);

    /* CONTACT */

    --contact-description: #766878;

    --contact-panel-border: #FFD3E6;

    --contact-map-border: #FFD3E6;

    --contact-input-bg: white;

    --contact-input-border: #FFD3E6;

    --contact-input-placeholder: #B59DB0;

    /* FOOTER */

    --footer-border: #FFD3E6;

    --footer-brand-hover: #FF5F9F;

    --footer-text: #766878;

    --footer-divider: #FFD3E6;

    --footer-link: #5C5166;

    --footer-email: #5C5166;

    --footer-social-filter: none;

    --footer-social-filter-hover: brightness(1.08);

    --footer-icon-border: #FFD3E6;

    --back-to-top-bg: #fff0f6;

    --back-to-top-border: 1px solid #ff9ecb;

    --back-to-top-radius: 50px;

    --back-to-top-size: 50px;

    --back-to-top-right: 25px;
    --back-to-top-bottom: 50px;

    --back-to-top-font-size: 25px;

    --back-to-top-arrow-color: #ff6fae;
    --back-to-top-arrow-inner-color: #fff0f6;

    --back-to-top-arrow-radius: 20px;

    --back-to-top-shadow:
        0 4px 12px rgba(255, 105, 180, .25),
        0 0 20px rgba(255, 182, 193, .35);

    --back-to-top-active-shadow:
        0 6px 18px rgba(255, 105, 180, .35);

    --back-to-top-transition:
        all .3s ease-in-out;
}

.app.hacker {
    --theme-color: #00ff66;
    --theme-color-2: #d7ffe5;

    font-family: "JetBrains Mono", monospace;

    background: #050806;
    color: #d7ffe5;

    --panel-bg: linear-gradient(180deg,
            #111614,
            #0a0f0d);

    --navbar-bg: rgba(5, 8, 6, .95);
    --navbar-border: #1f6d46;

    --navbar-text: #d7ffe5;
    --navbar-text-hover: #00ff66;

    --profile-border: url("/img/hackerTheme/hacker-border.png");

    --profile-pic-width: 250px;
    --profile-pic-height: 300px;
    --status-light-size: 14px;
    --status-light-radius: 50%;
    --status-light-bg: #00ff66;
    --status-light-border: 1px solid #72ffb0;

    --status-light-shadow:
        0 0 8px #00ff66,
        0 0 18px rgba(0, 255, 102, .5);


    --status-light-animation: pulse 2.5s ease-in-out infinite;
    --profile-img-animation: hackerGlitch 3.5s ease-in-out infinite;

    --button-bg: linear-gradient(90deg, #00b84d, #00ff66);
    --button-hover: linear-gradient(90deg, #00ff66, #33ff85);
    --button-text: #050806;

    --project-card-bg: linear-gradient(180deg, #121916, #0d110f);
    --project-card-border: #1f6d46;

    --project-card-radius: 6px;

    --project-text-color: #bfffd8;

    --tool-card-bg: linear-gradient(180deg, #121916, #0d110f);
    --tool-card-border: #1f6d46;

    --contact-input-bg: #0d110f;
    --contact-input-border: #1f6d46;

    --footer-border: #1f6d46;
    --footer-text: #8cd8aa;

    --back-to-top-bg: #061006;

    --back-to-top-border: 1px solid #00ff66;

    --back-to-top-arrow-color: #00ff66;
    --back-to-top-arrow-inner-color: #061006;

    --back-to-top-shadow:
        0 0 8px rgba(0, 255, 102, .8),
        0 0 20px rgba(0, 255, 102, .4);

    --back-to-top-active-shadow:
        0 0 25px rgba(0, 255, 102, .8);

    --back-to-top-radius: 50px;

    --back-to-top-size: 50px;

    --back-to-top-right: 25px;
    --back-to-top-bottom: 50px;

    --back-to-top-font-size: 25px;

    --back-to-top-arrow-radius: 20px;

    --back-to-top-transition:
        all .3s ease-in-out;

}

.app.professional {

    --theme-color: #2563eb;
    --theme-color-2: #1f2937;

    font-family: "Inter", sans-serif;

    background: #f5f7fb;
    color: #1f2937;

    --panel-bg: linear-gradient(180deg,
            #ffffff,
            #f8fafc);

    --navbar-bg: rgba(255, 255, 255, .9);
    --navbar-border: #d9e1ec;

    --navbar-text: #374151;
    --navbar-text-hover: #2563eb;

    --profile-border: url("/img/professionalTheme/pro-border.png");

    --profile-pic-width: 250px;
    --profile-pic-height: 300px;
    --status-light-size: 14px;
    --status-light-radius: 50%;
    --status-light-bg: #00b7ff;
    --status-light-border: 1px solid #6bd3ec;

    --status-light-shadow:
        0 0 8px rgba(42, 46, 253, 0.4);

    --status-light-animation: pulse 2.5s ease-in-out infinite;

    --button-bg: linear-gradient(90deg,
            #2563eb,
            #3b82f6);

    --button-hover: linear-gradient(90deg,
            #3b82f6,
            #60a5fa);

    --button-text: white;

    --project-card-bg:
        linear-gradient(180deg,
            white,
            #f8fafc);

    --project-card-border: #d9e1ec;

    --project-card-radius: 14px;

    --project-card-shadow:
        0 12px 25px rgba(15, 23, 42, .08);

    --project-card-hover-shadow:
        0 18px 35px rgba(15, 23, 42, .15);

    --project-text-color: #4b5563;

    --tool-card-bg:
        linear-gradient(180deg,
            white,
            #f8fafc);

    --tool-card-border: #d9e1ec;

    --contact-input-bg: white;
    --contact-input-border: #d9e1ec;

    --footer-border: #d9e1ec;
    --footer-text: #6b7280;

    --back-to-top-bg: #ffffff;

    --back-to-top-border: 1px solid #d1d5db;

    --back-to-top-radius: 50px;

    --back-to-top-size: 50px;

    --back-to-top-right: 25px;
    --back-to-top-bottom: 50px;

    --back-to-top-font-size: 25px;

    --back-to-top-arrow-color: #2563eb;
    --back-to-top-arrow-inner-color: #ffffff;

    --back-to-top-arrow-radius: 20px;

    --back-to-top-shadow:
        0 4px 12px rgba(0, 0, 0, .12),
        0 0 15px rgba(37, 99, 235, .15);

    --back-to-top-active-shadow:
        0 6px 18px rgba(0, 0, 0, .18);

    --back-to-top-transition:
        all .3s ease-in-out;

}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .65;
    }

    50% {
        transform: scale(1.15);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: .65;
    }
}

@keyframes autoReveal {

    0%,
    60% {
        opacity: 0;
        transform: translateY(20px);
    }

    75% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes cuteReveal {

    0% {
        opacity: 1;
        transform: translateY(100px);
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    75% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(100px);
    }
}

@keyframes hackerGlitch {

    0% {
        filter: none;
        transform: translate(0);
    }

    10% {
        transform: translate(3px, 0);
        filter:
            hue-rotate(90deg) contrast(1.5);
    }

    20% {
        transform: translate(-3px, 0);
        filter:
            hue-rotate(180deg) contrast(2);
    }

    30% {
        transform: translate(5px, 0);
    }

    40% {
        transform: translate(-5px, 0);
    }

    50% {
        transform: translate(0);
        filter:
            hue-rotate(360deg) contrast(1.2);
    }

    70% {
        filter: none;
        transform: translate(0);
    }

    100% {
        filter: none;
        transform: translate(0);
    }
}